<script src='https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js'></script>
<%= javascript_pack_tag 'hello_react' %>

<br>
<br>
<br>
<h1 class="searchpageclasstitle"> Search Images </h1>
<br>
<br>
