<div class="home-background-color">
  <div class="intro">
    <% if !logged_in? %>
    <% else %>

    <br>
    <%end%>
    <h1>Don't miss the opportunity to get some cash back
      <br>
      <span class="likethis">like this guy...</span></h1>

      <div class="png">
        <img src="https://68.media.tumblr.com/4dc0152b39849d158e1b5fd28fa5c731/tumblr_oq28ukUH6U1uaq136o1_1280.jpg" alt="little guy" height="370">
      </div>


      <p>Create custom expense categories and upload receipts on the go. This helps you keep your expenses
        organized and ready for tax season.
        <% if !logged_in? %>
        Sign up and see how the magic happens!
        <% else %>
        <br>
        <br>
        <%= link_to "continue organizing", expense_categories_path, class: 'btn btn-default btn-lg' %>
        <%end%>
      </p>
    </div>

    <div class="button">
      <% if !logged_in? %>
      <%= link_to "JOIN THE AWESOMENESS", new_users_path, class: 'btn btn-default btn-lg' %>
      <br><span class="login-logout"><a href="#login"><%= link_to "Already have an account? Sign in", login_path %></a></span>
      <% else %>
      <%end%>
    </div>
  </div>
