
<div class="intro">
<h1>Don't miss the opportunity to get some cash back</h1>
<h2>like this guy.</h2>
<h3>Sign up for the tax app today</h3>
</div>


<% unless logged_in? %>
<%= link_to "Join The Awesomeness", new_users_path%>
<%end%>
