body {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}


section.module:last-child {
  margin-bottom: 0;
}

section.module.parallax {
  height: 400px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax-1 {
  background-image: url("GreenHomePage.png");
}

@media all and (max-width: 750px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax-1 {
    background-image: url("MobileHomePage.png");
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}
