/*=====================EXPENSE CATEGORIES INDEX=====================*/
* {
  text-decoration: none;
}
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}

/*INTRO*/
.welcome {
  font-family: 'Lemon';
  text-align: center;
}
.welcome p {
  font-family: 'Biko';
  font-size: 20px;
}
/*TABLE*/

tbody tr td {
  font-family: 'Biko';
  flex-flow: column;
  font-size: 18px;
  width: 100%;
}
tbody tr td .datecreatedexp {
  font-family: 'Biko';
}
table {
  margin: .5em;
}

/*VIEW EDIT DELETE BUTTONS*/

.fa-eye:hover {
  color: #c6dcff;
  background-color: #fff;
}
.fa-eye {
  color: #7CCFFF;
}
.fa-pencil-square-o:hover{
  color: #B5DEA6;
  background-color: #fff;
}
.fa-pencil-square-o {
  color: #9ec691;
}
.fa-minus-circle:hover {
  color: #ff9393;
  background-color: #fff;
}
.fa-minus-circle {
  color: #F86E64;
}

/*JQUERY ANIMATION*/
#new-animated-expense {
  text-align: center;
}
.fa-plus-circle{
  color: #7CCFFF;
  position: fixed;
  margin-top: 2.5em;
}
/*PARALLAX*/
.container {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}
section.module:last-child {
  margin-bottom: 0;
}

section.module.parallax {
  height: 400px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax-1 {
  /*background-image: url("GreenHomePage.png");*/
  background-color: #f26d65;
}
/*CREATE NEW EXPENSE*/
.newexpensebutton {
  text-align: center;
  padding: 1em;
}
.newexpensebutton h2 {
  font-family: 'Lemon';
  padding: .5em;
}
.newexpensebutton .btn-default {
  background-color: #7CCFFF;
  color: #fff;
  border-color: #fff;
  text-align: center;
  font-family: 'Biko';
  border-radius: 15px;
}
.newexpensebutton .btn-default:hover,
.btn-default:focus,
.btn-default:active    {
  background-color: #b0e2ff;
  color: #FFF;
  border-color: #b0e2ff;
}
/*======================EXPENSE CATEGORIES SHOW PAGE============================*/

/*ADD RECEIPT BUTTON*/
.addreceiptbutton {
  text-align: center;
  padding: .5em;
}
.addreceiptbutton .btn-default {
  background-color: #7CCFFF;
  color: #fff;
  border-color: #fff;
  font-family: 'Biko';
  border-radius: 15px;
}
.addreceiptbutton .btn-default:hover,
.btn-default:focus,
.btn-default:active    {
  background-color: #b0e2ff;
  color: #FFF;
  border-color: #b0e2ff;
}
.expensetitle {
  font-size: 50px;
  font-family: 'Lemon';
  text-align: center;
}
.expenseedit {
  text-align: center;
}
@media all and (max-width: 750px) {
  section.module.parallax-1 {
    background-image: url("makingitrain.png");
    background-size: 80%;
    background-repeat:no-repeat;
    background-position: 45% 18%;
    background-color: #F86E64;
  }
  .fa-plus-circle{
    margin-top: 2.5em;
  }
}
/*@media all and (min-width: 400px) {
  section.module.parallax-1 {
    background-image: url("makingitrain.png");
    background-size: 70%;
    background-repeat:no-repeat;
    background-position: 50% 25%;
    background-color: #F86E64;
  }
}
@media all and (min-width: 550px) {
  section.module.parallax-1 {
    background-image: url("makingitrain.png");
    background-size: 60%;
    background-repeat:no-repeat;
    background-position: 50% 17%;
    background-color: #F86E64;
  }
}
@media all and (min-width: 650px) {
  section.module.parallax-1 {
    background-image: url("makingitrain.png");
    background-size: 50%;
    background-repeat:no-repeat;
    background-position: 50% 17%;
    background-color: #F86E64;
  }
}
}
@media all and (min-width: 700px) {
  .fa-plus-circle{
    margin-top: 4em;
  }
  section.module.parallax-1 {
    background-image: url("makingitrain.png");
    background-size: 40%;
    background-repeat:no-repeat;
    background-position: 35% 17%;
    background-color: #F86E64;
  }
}
@media all and (min-width: 750px) {
  .fa-plus-circle{
    margin-top: 4em;
  }
  section.module.parallax-1 {
    background-image: url("makingitrain.png");
    background-size: 40%;
    background-repeat:no-repeat;
    background-position: 50% 17%;
    background-color: #F86E64;
  }
}*/
@media all and (min-width: 751px) {
  section.module.parallax-1 {
    background-image: url("makingitrain.png");
    background-size: 25%;
    background-repeat:no-repeat;
    background-position: 50% 20%;
    background-color: #F86E64;
  }
}
/*========================RECEIPTS LIST PAGE======================================*/
/*INTRO*/
.pdfintro {
  font-family: 'Biko';
  font-size: 25px;
  text-align: center;
}
/*PDF BUTTON*/
.pdfbutton {
  padding: .3em 0em 0em 0em;
  font-family: 'Biko';
  font-size: 25px;
  color: #5E7280;
  text-align: center;
}
.pdfbutton .btn-default {
  background-color: #7CCFFF;
  color: #fff;
  border-color: #fff;
  text-align: center;
  font-family: 'Biko';
  border-radius: 15px;
}
.pdfbutton .btn-default:hover,
.pdfbtn-default:focus,
.pdfbtn-default:active    {
  background-color: #b0e2ff;
  color: #FFF;
  border-color: #b0e2ff;
}
/*RECEIPTS STYLING*/
.pdftitle {
  font-family: 'Lemon';
  font-size: 25px;
  text-align: center;
}
.expense-wrapper {
  display: flex;
  flex-direction: column;
}
.receipt-wrapper {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.totalcomments {
  font-size: 15px;
  font-family: 'Biko';
}
.receiptinfo {
    padding: 15px 5px;
    text-align: center;
    font-family: 'Biko';
}
.fieldnew {
  font-family: 'Biko';
  margin-left: 28%;
  margin-right: 50%;
}
.actionsnew {
  font-family: 'Biko';
  margin-left: 40%;
  margin-right: 50%;
  margin-top: 1em;
}

 @media all and (min-width: 550px) {
   .fieldnew {
     font-family: 'Biko';
     margin-left: 35%;
     margin-right: 50%;
   }
 }
