html {
  margin: 0;
  padding: 0;
}

h1 .pdfintro {
  font-family: 'Lemon';
}

.fieldreceipt {
  font-family: 'Biko';
  margin-left: 45%;
  margin-right: 50%;
}

.action {
  font-family: 'Biko';
  text-align: center;
  margin-top: 1em;
  margin-left: 2.5em;
}
@media all and (max-width: 550px) {
  .fieldreceipt {
    font-family: 'Biko';
    margin-left: 30%;
    margin-right: 50%;
  }
}
@media all and (min-width: 551px) {
  .actionsreceipt{
    font-family: 'Biko';
    padding-left: 48%;
    padding-right: 65%;
  }
}

@media all and (min-width: 700px) {
  .actionsreceipt {
    font-family: 'Biko';
    padding-left: 46.5%;
    padding-right: 65%;
  }
}

.fishingpng {
  text-align: center;
  padding: 3em 0 1em 0;
}

.showimage {
  text-align: center;
}

.reminder {
  text-align: center;
  /*padding-top: .5em;*/
  font-size: 20px;
  font-family: 'Biko';
}
.receiptpopup {
  text-align: center;
}
