<%= render 'form', receipt: @receipt, expense_category: @expense_category %>
<div class="fishingpng">
  <img src="https://68.media.tumblr.com/128988990627d43e86d4b0f9a42a8d4b/tumblr_oqa5dyWd0j1uaq136o1_r1_1280.png" alt="little guy" width="370px">
</div>
