<% if logged_in? %>
<div class="nav-bar">
  <a class="homebutton" href="#home"><%=link_to "home", expense_categories_path %></a>
  <a href="#receipts"><%=link_to "receipts", receiptslist_path%></a>
  <a href="#receipts"><%=link_to "search", search_path%></a>
  <a href="#logout"><%=link_to "log out", logout_path %></a>
</div>
<% else %>

<% end %>
